body {
    background-color: rgb(52, 52, 53);
}

.highlighter {
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.save{
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.note{
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.undo{
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.pen{
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color:  rgb(218, 255, 251);
}
.btn-container {
    display: flex;
    justify-content: space-evenly;
}
button{
    transition: opacity 0.3s, transform 0.3s;
}
button img {
    width: 100%; 
    height: auto; 
} 
.stroke-color{
    margin: 6px 6px;    
    width: 37px;
    height: 37px;
    align-self: center;
    border-radius: 10%;
    background-color:  rgb(218, 255, 251);
} 
.stroke-color:hover{
    transition: opacity 0.3s, transform 0.3s;
    opacity: 80%;
    transform: scale(1.3);
}
.stroke-color:active{
    opacity: 70%;
    transform: scale(0.95);
}
button:hover {
    opacity: 80%;
    transform: scale(1.3);
}
button:active {
    opacity: 70%;
    transform: scale(0.95);
}
.highlight-text::selection {
    background-color: yellow;
} 
