body {
    background-color: rgb(52, 52, 53);
}

.highlight-btn {
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.color-btn{
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.pen-btn {
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.erase {        
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.save-btn {
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.note-btn {
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.undo-btn {
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.pen{
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.btn-container {
    display: flex;
    justify-content: space-evenly;
}
button{
    transition: opacity 0.3s, transform 0.3s;
}
button img {
    width: 100%; 
    height: auto; 
} 
.color-container{
    display: none;
}
button:hover {
    opacity: 80%;
    transform: scale(1.3);
}
button:active {
    opacity: 70%;
    transform: scale(0.95);
}
.highlight-text::selection {
    background-color: yellow;
} 
