body {
    background-color: rgb(52, 52, 53);
}

.highlight-btn {
    border-radius: 20px;
    border-width: 1.2px;
    width: 30px; 
    height: 30px;
    margin: 1px 3px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.pen-btn {
    border-radius: 20px;
    border-width: 1.2px;
    width: 30px; 
    height: 30px;
    margin: 1px 3px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.erase {
    border-radius: 20px;
    border-width: 1.2px;
    width: 30px; 
    height: 30px;
    margin: 1px 3px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.save-btn {
    border-radius: 20px;
    border-width: 1.2px;
    width: 30px; 
    height: 30px;
    margin: 1px 3px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.note-btn {
    border-radius: 20px;
    border-width: 1.2px;
    width: 30px; 
    height: 30px;
    margin: 1px 3px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.undo-btn {
    border-radius: 20px;
    border-width: 1.2px;
    width: 30px; 
    height: 30px;
    margin: 1px 3px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.pen{
    border-radius: 20px;
    border-width: 1.2px;
    width: 30px; 
    height: 30px;
    margin: 1px 3px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}
.btn-container {
    display: flex;
    justify-content: space-evenly;
}
button img {
    width: 100%; 
    height: auto; 
} 
button:hover {
    opacity: 80%;
}
button:active {
    opacity: 70%;
}
.highlight-text::selection {
    background-color: yellow;
  }
